Ollama Student Assist.json
{
  "name": "Ollama Student Assist",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6bf0fe21-a4fc-45a7-ad49-f59b82aef458",
      "name": "Telegram Trigger",
      "webhookId": "79e94002-9ddd-4ded-99ef-d5a0b5220f0e",
      "credentials": {
        "telegramApi": {
          "id": "IKswjpxHBg1lINuL",
          "name": "StudentAssist"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a Student Handbook assistant. You Should Generate and summarize the answer only from the given context.\nIf context is irrelevant to the question, You should say, Sorry ! I can't find relevant information from the knowledge base. Don't provide any additional information\nYou should not generate or interpret any response from your knowledge You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        192,
        -32
      ],
      "id": "18e0d3cf-7432-4501-910d-2d51549acc64",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "f664a4b1-2468-4367-b737-98eb02f95288",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "ollama3072",
          "mode": "list",
          "cachedResultName": "ollama3072"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        560,
        240
      ],
      "id": "db2c5105-1742-4de4-8210-6c867923f5be",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Cp2S6KPX46H6zgtN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "f4c04434-461f-48c3-a74a-117e6366e9ed",
      "name": "Send a text message",
      "webhookId": "ce370b0b-79ab-40e4-97e9-d3b7d6e0b740",
      "credentials": {
        "telegramApi": {
          "id": "IKswjpxHBg1lINuL",
          "name": "StudentAssist"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "5307c278-42de-439c-8c5f-e1f2b9f2d3b8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "iuKP4HoeWaXxDSsI",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:3b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        784,
        368
      ],
      "id": "a0ffa857-193d-4829-81df-68fd06b9009c",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "iuKP4HoeWaXxDSsI",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BVmymTGw7Nj5A7i1"
  },
  "versionId": "35e425f2-f5c4-4157-8d4a-9c3eea14acc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fa4a0a53d2d590ff285592caa2466b32912d85c1e1a6d03c165c8f6156b297a"
  },
  "id": "BVmymTGw7Nj5A7i1",
  "tags": []
}